
Skip to content
This repository

    Pull requests
    Issues
    Marketplace
    Explore

    @ramosjo4

0
0

    0

ramosjo4/rocket-ship-animation-app
Code
Issues 0
Pull requests 0
Projects 0
Wiki
Insights
Settings
rocket-ship-animation-app/.gitignore
65a646d 2 days ago
@ramosjo4 ramosjo4 added ignore file
38 lines (29 sloc) 615 Bytes

# Created by https://www.gitignore.io/api/xcode

### Xcode ###
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno


# End of https://www.gitignore.io/api/xcode

    © 2018 GitHub, Inc.
    Terms
    Privacy
    Security
    Status
    Help

    Contact GitHub
    API
    Training
    Shop
    Blog
    About

Press h to open a hovercard with more details.
